<div class="card-deck text-center">
    <div class="card">
      <img id="image" src="../../../../assets/media/png/013-shopping-cart-6.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Retirer un produit</h5>
        <p class="card-text">Supprimer un article de votre stock de produits.</p>
        <button mat-button color="primary" (click)="onClick()">Supprimer</button>
      </div>
    </div>

    <div class="card">
      <img id="image" src="../../../../assets/media/png/033-shopping-cart-1.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Modifier un produit</h5>
        <p class="card-text">Modifier les informations et le prix des articles dans le stock de produits.</p>
        <button mat-button color="primary" (click)="onClick2()">Modifier</button>
      </div>
    </div>
</div>